@page
@model SatelliteTracker.Pages.PreferitiModel


<div id="map" style="height: 500px; margin-top:20px;"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    var mappa = L.map('map').setView([20, 0], 2);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mappa);

    var satelliti = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(
                Model.Satellites
                        .Where(s => s.SatLat != null && s.SatLng != null)
                        .Select(s => new { id = s.SatId, nome = s.SatName, lat = s.SatLat, lng = s.SatLng })
        ));

        var segnaposti = satelliti.map(s =>
        L.marker([s.lat, s.lng])
         .addTo(mappa)
         .bindTooltip(s.nome, {
             permanent: true,
             direction: "top",
             offset: [0, -10]
         })
    );

    async function aggiorna() {
        await Promise.all(segnaposti.map(async (segnaposto, i) => {
            try {
              var risposta = await fetch(`/Search?handler=Satellite&satId=${satelliti[i].id}&lat=0&lng=0`);
                var dati = await risposta.json();
                segnaposto.setLatLng([dati.latitude, dati.longitude]);
            } catch { }
        }));
    }

    aggiorna();
    setInterval(aggiorna, 5000);
</script>