@page
@model SatelliteTracker.Pages.SearchModel

<h2>Satelliti sopra Milano</h2>

<ul>
    @foreach (var sat in Model.Satellites)
    {
        <li>
            @sat.SatName (ID: @sat.SatId)

            <form method="post" style="display:inline;">
                <input type="hidden" name="satId" value="@sat.SatId" />
                <input type="hidden" name="satName" value="@sat.SatName" />
                <button type="submit">aggiungi preferiti</button>
            </form>
            
        </li>
    }
</ul>

